# Bỏ qua node_modules
node_modules/
package-lock.json

# Bỏ qua thư mục build
dist/
build/

# Bỏ qua tệp log
*.log
npm-debug.log
yarn-error.log

# Bỏ qua tệp môi trường
.env
.env.local
.env.development.local
.env.test.local
.env.production.local